/* Jumbotron Carousel */
.jumbotron {
  padding-top: 35px;
  padding-inline: 10px;
}

.jumbotron .carousel-inner img {
  filter: brightness(80%);
}
/* End Jumbotron Carousel */

/* news */
.carousel-item .card {
  transition: transform 0.2s ease-in-out;
}

.carousel-item:hover .card {
  transform: scale(1.02);
}

.card-title.text-truncate, .card-text.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#hotnews {
  transition: transform 0.2s ease-in-out;
}

#hotnews:hover {
  transform: scale(1.02);
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-portal {
  padding: 40px 20px;
  background-color: #f8f9fa;
}

.news-portal .header h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.news-item .card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-item .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.news-item .card-img-top {
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.news-item .card-title {
  font-size: 20px;
  color: #007BFF;
  margin-bottom: 10px;
}

.news-item .card-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.news-item .btn-primary {
  background-color: #007BFF;
  border: none;
  font-size: 14px;
  padding: 8px 16px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.news-item .btn-primary:hover {
  background-color: #0056b3;
}

/*gallery home*?
.gallery-separator {
  border-top: 2px solid #ddd;
  margin: 30px 0;
}

.youtube-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.line-separator {
  width: 50px;
  height: 3px;
  background-color: #007bff;
  margin: 10px auto;
}

.yt-custom {
  background-color: #FF0000;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

