body {
    font-family: 'Poppins', sans-serif;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: rgb(188,219,127);
    background: radial-gradient(circle, rgba(188,219,127,1) 0%, rgba(204,225,160,1) 51%, rgba(187,230,188,1) 95%);
    background-repeat: no-repeat;
}

/* Page Load Animation */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* End Page Load Animation */

/* Navbar */
.navbar {
    background-color: transparent;
}
.navbar img {
    filter: invert(1);
}
.dropdown-menu {
    background: rgb(188,219,127);
    background: radial-gradient(circle, rgba(188,219,127,1) 0%, rgba(204,225,160,1) 51%, rgba(187,230,188,1) 95%);
    filter: brightness(90%);
}
.dropdown-item {
    background: rgb(188,219,127);
    background: radial-gradient(circle, rgba(188,219,127,1) 0%, rgba(204,225,160,1) 51%, rgba(187,230,188,1) 95%);
    filter: brightness(100%);
}
.dropdown-item:hover {
    text-decoration: underline;
}
/* End Navbar */

/* Jumbotron Carousel */
.jumbotron {
    padding-top: 35px
}
.jumbotron .carousel-inner img {
    filter: brightness(80%);
}
/* End Jumbotron Carousel */

/* Welcome Text Overlay */
.welcome-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    margin-top: -20px;
}

.typing-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    font-size: 0.6em; /* Adjust the font size as needed */
    max-width: 100%; /* Set a maximum width to ensure text doesn't overflow */
    word-wrap: break-word; /* Breaks words to the next line */
}

.typing-text::after {
    content: '|'; /* Use any character you want for the cursor */
    display: inline-block;
    vertical-align: middle;
    animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}
/* End Welcome Text Overlay */


/* Sambutan Home */
#sambutan p {
    color: black;
}

/* Visi Misi */
#vm {
    padding-top: 50px;
    padding-bottom: 70px;
}
#visi {
    padding-inline: 70px;
}
#visi p {
    color: black;
}
#misi {
    padding-inline: 70px;
}
#pg {
    padding-top: 50px;
    padding-bottom: 70px;
    padding-inline: 70px;
}
/* End Visi Misi */

/* Whatsapp Floating Button */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25D366;
    border: none;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.floating-button i {
    font-size: 1.5em;
}
/* End Whatsapp Floating Button */

/* News Overlay */
.news .overlay-content {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.news .overlay-content .card-body h5, p {
    color: white;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Offcanvas */
    .offcanvas{
        background: rgb(188,219,127);
        background: radial-gradient(circle, rgba(188,219,127,1) 0%, rgba(204,225,160,1) 51%, rgba(187,230,188,1) 95%);
    }
    /* End Offcanvas */
    /* Jumbotron Carousel */
    .jumbotron {
        padding-inline: 10px;
    }
    /* End Jumbotron Carousel */

    /* Welcome Text Overlay */
    .typing-text {
        display: block;
        font-size: 0.4em;
    }
    /* End Welcome Text Overlay */


    /* School Profile Contact Overflow */
    #nav-contact {
        overflow-x: scroll;
    }
    /* End School Profile Contact Overflow */
}

